@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* base */
*,
*::before,
*::after {
  box-sizing: border-box;
  /*   outline: solid 1px; */
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  background-color: #fbfbfb;
}

.bi {
  display: inline-block;
  line-height: 1;
}

/* utils */
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.h2 {
  font-size: 64px;
  font-weight: 700;
}

.h3 {
  font-size: 28px;
  font-weight: 700;
}

.text-primary {
  color: #0027d5;
}

.text-gray {
  color: #4b4b4b;
}

.fw-bold {
  font-weight: 700;
}

.fw-black {
  font-weight: 900;
}

.break-line {
  display: none;
}

.ellipsis-mutiple {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 992px) {
  .h2 {
    font-size: 48px;
  }
  .container {
    max-width: 768px;
  }
  .break-line {
    display: inline-block;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 375px;
  }
}

/* components */
.btn {
  padding: 8px 16px;
  border: solid 1px #000;
  border-radius: 80px;
  color: #4b4b4b;
}

.btn:hover {
  background: #000;
  color: white;
}

.btn-primary {
  border: solid 1px #0027d5;
  color: #0027d5;
  background: white;
}

.btn-primary:hover {
  background-color: #0027d5;
  color: white;
}

.badge {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 80px;
  font-weight: 700;
  background: #0027d5;
  color: white;
}

.card .card-head {
  margin-bottom: 16px;
}

.card time {
  margin-bottom: 4px;
}

.card .hashtag {
  font-size: 24px;
  color: #0027d5;
}

.card .hashtag a {
  margin-right: 8px;
}

.card .card-title {
  margin-bottom: 8px;
}

.card .card-subtitle {
  display: flex;
  flex-wrap: wrap;
}

.card .card-desc {
  margin-bottom: 16px;
}

/* page - index */

.banner-profile {
  display: flex;
}

.banner-photo,
.banner-intro {
  width: 50%;
}

.banner-intro {
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-intro .banner-title {
  font-size: 120px;
}

.banner-intro .banner-subtitle {
  font-size: 28px;
}

.banner-desc {
  width: 56%;
  padding: 80px 40px;
  margin-right: 80px;
  margin-left: auto;
  font-size: 28px;
  background-color: white;
  /* 方法一：margin 負值 */
  /* margin-top: -160px; */

  /* 方法二：相對定位 */
  position: relative;
  margin-bottom: -160px;
  right: 0;
  bottom: 160px;

  /* 方法三：絕對定位 */
  /* position: absolute;
    right: 0;
    bottom: -202px; */
}

.banner-desc p + p {
  margin-top: 16px;
}

@media (max-width: 1710px) {
  .banner-intro .banner-title {
    font-size: calc(((100vw / 2) - 160px) / 6);
  }
}

@media (max-width: 992px) {
  .banner-profile {
    flex-direction: column;
  }

  .banner-photo,
  .banner-intro {
    width: 100%;
  }

  .banner-photo img {
    height: 375px;
    object-fit: cover;
    object-position: right;
  }

  .banner-intro {
    padding: 24px 24px 200px;
  }

  .banner-intro .banner-title {
    font-size: 52px;
  }

  .banner-desc {
    width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
  }
}

.service {
  padding: 80px 0;
}

.service .list {
  padding: 0 110px;
}

.service .list-item {
  display: flex;
  align-items: center;
}

.service .list-item:not(:last-child) {
  margin-bottom: 64px;
}

.service .list-img {
  width: 59.1%;
}

.list-item-row .list-img {
  margin-right: -40px;
}

.list-item-reverse {
  flex-direction: row-reverse;
}

.list-item-reverse .list-img {
  margin-left: -40px;
}

.service .list-text {
  position: relative;
  z-index: 1;
  width: calc(40.9% + 40px);
  padding: 24px;
  background: white;
}

.service .list-title {
  font-size: 28px;
  margin-bottom: 8px;
}

@media (max-width: 992px) {
  .service .list {
    padding: 0;
  }

  .service .list-img,
  .service .list-text {
    width: 100%;
  }

  .list-item-row {
    flex-direction: column;
  }

  .list-item-row .list-img {
    margin-right: 0;
  }

  .list-item-reverse {
    flex-direction: column;
  }

  .list-item-reverse .list-img {
    margin-left: 0;
  }
}

.case-wrapper {
  display: flex;
  align-items: center;
}

.case-img {
  width: 57.48%;
  padding: 24px;
  background: #ededed;
}

.case-desc {
  width: 42.4%;
}

.case-desc-top {
  width: calc(100% - 24px);
  margin-left: -219px;
  margin-right: 219px;
  background: white;
}

.case-desc-bottom {
  background: #f5f5f5;
  margin-top: -40px;
  margin-left: 24px;
  flex-grow: 1;
}

.case-desc-top,
.case-desc-bottom {
  padding: 80px 40px;
}

.case-desc-top .bi,
.case-desc-bottom .bi {
  margin-bottom: 24px;
}

.case-desc-bottom p {
  margin-bottom: 24px;
}

@media (max-width: 1200px) {
  .case-desc-top,
  .case-desc-bottom {
    padding: 80px 24px 40px;
  }
}

@media (max-width: 992px) {
  .case-wrapper {
    flex-direction: column;
  }

  .case-img {
    width: 100%;
    padding-bottom: 0;
  }

  .case-desc {
    width: 100%;
  }

  .case-desc-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 12px;
  }

  .case-desc-bottom {
    margin-top: 0;
    margin-left: 0;
  }

  .case-desc-top,
  .case-desc-bottom {
    padding: 40px 24px;
  }
}

.feature {
  padding: 80px 0;
}

.feature-wrapper {
  position: relative;
}

.feature .swiper {
  overflow: hidden;
}

.feature .swiper-wrapper {
  overflow: visible;
}

.feature .slider-btn {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: #0027d5;
}

.feature .slider-btn-prev {
  left: -64px;
}

.feature .slider-btn-next {
  right: -64px;
}

.feature .swiper-button-disabled {
  color: #b2bef2;
}

@media (max-width: 1500px) {
  .feature .slider-btn {
    position: static;
    transform: translateY(0);
  }
  .feature .slider-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
  }
  .feature .swiper {
    margin-bottom: 32px;
  }
}
